{:paths ["src/core"]


 :deps
 {
  caesium/caesium       {:mvn/version "0.13.0"}
  cheshire/cheshire     {:mvn/version "5.10.0"}
  clj-http/clj-http     {:mvn/version "3.12.1"}
  org.clojure/tools.cli {:mvn/version "1.0.194"}
  user.ring/user.ring   {:mvn/version "2020.351.49995"}
  }


 :aliases
 {
  :provided
  {:extra-deps
   {
    org.clojure/clojure {:mvn/version "1.10.3"}


    rum/rum                {:mvn/version "0.11.5"}
    ajchemist/telegram.clj {:git/url "https://github.com/ajchemist/telegram.clj.git" :sha "b527c81ef5fc0560425c4fbacac54a606c69a93c"}
    }}


  :1.10
  {:extra-deps
   {
    org.clojure/clojure {:mvn/version "1.10.3"}
    }}


  :test
  {:extra-paths ["src/test"]
   :extra-deps
   {
    org.clojure/tools.deps.alpha                {:mvn/version "0.9.821"}
    user.java.time/user.java.time               {:mvn/version "2020.267.10158"}
    user.tools.deps.alpha/user.tools.deps.alpha {:git/url "https://github.com/ajchemist/user.tools.deps.alpha.git" :sha "def2387722c2605c8f4a53111c1f9c3fda9c1484"}
    }}


  :test-runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha     "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
   :main-opts  ["-m" "cognitect.test-runner"
                "-d" "src/test"]}}
 }
